@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

html {
  background-image: url(https://images.pexels.com/photos/1699574/pexels-photo-1699574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  color: white;
}
h1 {
  text-shadow: 1px 2px gray;
}
a {
  color: gray;
  text-shadow: 1px 1px white;
}
.Header {
  background-color: purple;
  display: flex;
  justify-content: space-around;
}
.MainDiv {
  text-align: center;
  background: rgba(0,0,0,0.5);
}
.Contact-info {
  background: rgba(29, 25, 25, 0.5);
  margin: 5%;
}
.info-table {
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
}
.info-table td {
  background-color:purple;
}